#conlangToolbox {
	overflow-wrap: anywhere;
}
#conlangToolbox p {
	text-indent: 2rem;
	padding: 1rem;
	margin: 0 auto;
}
#conlangToolbox p + p {
	padding-block-start: 0;
}
#conlangToolbox .clickToExpand {
	overflow: hidden;
	max-height: 0;
	transition: max-height 0.1s ease-in;
}
#conlangToolbox .clickToExpand.expanded {
	max-height: 10rem;
	transition: max-height 0.1s ease-out;
}
#conlangToolbox ion-button.helpy {
	opacity: 0.5;
}
#conlangToolbox .possiblyLargeLabel p,
#conlangToolbox .possiblyLargeLabel h2 {
	padding: 0;
	text-indent: 0;
	white-space: normal;
}
#conlangToolbox .important {
	color: var(--ion-text-color);
}
#conlangToolbox .hide {
	display: none;
}
ion-row:nth-child(odd) {
	margin: 16px 0;
}

.emphasizedSection {
	text-align: center;
	margin-inline-start: auto;
	margin-inline-end: auto;
}
.emphasizedSection br {
	display: block;
	height: 0.25rem;
	content: '';
}

ion-card-content ul li {
	margin: 1rem 0;
}

.categories .categoryLongName,
.rewriterules .description,
.transforms .description {
	font-size: smaller;
	font-style: italic;
}
#conlangToolbox .serifChars {
	letter-spacing: 0.025rem;
	font-family: var(--font-serif), var(--font-international);
}
#conlangToolbox .importantElement {
	font-weight: bold;
}
.categories .categoryRun .label::after {
	font-weight: bold;
	content: "=";
}
#conlangToolbox .importantUnit {
	display: inline-block;
	padding: 0.25rem 0.5rem;
	font-weight: bold;
	border: 1px solid var(--ion-color-input-border);
	white-space: normal;
	overflow-wrap: anywhere;
}
#conlangToolbox .unimportantUnit {
	display: inline-block;
	padding: 0 0.5rem;
	letter-spacing: 0;
	white-space: normal;
	overflow-wrap: anywhere;
}
#conlangToolbox .arrow {
	font-weight: bold;
}
.rewriterules .dragHandle,
.transforms .dragHandle {
	width: 2rem;
	text-align: center;
}
.rewriterules .dragHandle ion-icon,
.transforms .dragHandle ion-icon,
.soundChanges .dragHandle ion-icon {
	font-size: 32px;
	color: var(--ion-color-tertiary-shade);
}

#conlangToolbox ion-list.syllables ion-item ion-textarea {
	padding: 0.625rem 1rem 0.625rem 0;
	margin: 0;
	flex-grow: 5;
}
#conlangToolbox ion-list.syllables .header {
	display: block;
	font-weight: bold;
	font-size: larger;
	margin: 0.5rem 1rem 1rem;
}
#conlangToolbox ion-list.syllables .toggleable {
	overflow: hidden;
	display: none;
}
#conlangToolbox ion-list.syllables .toggleable.toggled,
#conlangToolbox ion-list.syllables .toggleable.reverseToggle {
	display: block;
}
#conlangToolbox ion-list.syllables .toggleable.reverseToggle.toggled {
	display: none;
}
#conlangToolbox ion-list.syllables .header.toggleable,
#conlangToolbox ion-list.syllables .header.toggleable.reverseToggle.toggled {
	display: none;
}
#conlangToolbox ion-list.syllables .header.toggleable.toggled,
#conlangToolbox ion-list.syllables .header.toggleable.reverseToggle {
	display: block;
}

#conlangToolbox ion-content.disappearingHeaderKludgeFix > :last-child {
	margin-block-end: 50vh;
}

ion-item-option {
	min-width: 5rem;
}
ion-list.units {
	background: transparent;
	padding: 0;
}
.units ion-item,
.units ion-item-option,
.units ion-item-option button {
	border-block-end: 0.1rem solid var(--ion-background-color);
}
.units ion-item-sliding:first-of-type ion-item,
.units ion-item-sliding:first-of-type ion-item-option,
.units ion-item-sliding:first-of-type ion-item-option button {
	border-block-start: 0.1rem solid var(--ion-background-color);
}
.units ion-item.nonUnit {
	border-block-end: 0;
	border-block-start: 0;
}
.hasFabButton ion-list.units {
	padding-block-end: 5em;
}
ion-list.dragArea {
	min-height: 100%;
}
.belongsToBelow {
	margin-block-end: 0;
	padding-block-end: 0;
}
.minor {
	font-size: 0.8em;
}
ion-label.stackedEmph {
	font-size: 20px !important;
}

#conlangToolbox .fullScreen {
	display: flex;
	flex-flow: column nowrap;
	min-height: 100%;
}
#conlangToolbox .fullScreen .collapse {
	flex: 0 1 auto;
}
#conlangToolbox .fullScreen .largePane {
	flex: 1 1 auto;
}
#conlangToolbox .fullScreen .collapse div {
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	margin-inline-end: 1rem;
}
#conlangToolbox .fullScreen .collapse div ion-button {
	white-space: normal;
}

#WGoutput {
	display: grid;
	grid-template-columns: max-content 1fr min-content;
	grid-template-rows: min-content max-content;
	grid-template-areas:
		"EV .. BR"
		"OP OP BR";
	gap: 0.25rem;
	justify-items: start;
	align-items: start;
	justify-content: stretch;
	align-content: start;
	margin: 0.5rem 0.5rem 0;
}
#WEoutput {
	display: grid;
	grid-template-columns: max-content 1fr min-content;
	grid-template-rows: min-content min-content max-content;
	grid-template-areas:
		"TL TR TR"
		"EV .. BR"
		"OP OP BR";
	gap: 0.25rem;
	justify-items: start;
	align-items: start;
	justify-content: stretch;
	align-content: start;
	margin: 0.5rem 0.5rem 0;
}
#WEoutput .TL {
	grid-area: TL;
}
#WEoutput .EV,
#WGoutput .EV {
	grid-area: EV;
	display: block;
}
#WEoutput .TR {
	grid-area: TR;
	justify-self: end;
}
#WEoutput .BR,
#WGoutput .BR {
	grid-area: BR;
	display: flex;
	justify-content: flex-start;
	align-items: flex-end;
	flex-flow: row wrap;
	justify-self: end;
}
#outputPaneWE,
#outputPane {
	grid-area: OP;
}

#outputPane,
#outputPaneWE {
	margin: 1rem 2rem;
}
#outputPane.pickAndSave .word,
#outputPaneWL.pickAndSave .word,
#outputPaneWE.pickAndSave .word {
	background: var(--ion-color-primary);
	color: var(--ion-color-primary-contrast);
	cursor: copy;
}
#outputPane.pickAndSave div.word,
#outputPaneWL.pickAndSave div.word,
#outputPaneWE.pickAndSave div.word {
	padding: 0.25em 0.5em;
	border: 1px solid var(--ion-color-primary-shade);
}
#outputPane.pickAndSave .word.saved,
#outputPaneWL.pickAndSave .word.saved,
#outputPaneWE.pickAndSave .word.saved {
	background: var(--ion-color-success);
	color: var(--ion-color-success-contrast);
	border-color: var(--ion-color-success-shade);
}
#outputPaneWE {
	display: grid;
	grid-auto-flow: row;
	grid-template-columns: 1fr 2em 1fr;
	grid-template-rows: auto;
	grid-auto-rows: auto;
	place-items: start start;
	place-content: start start;
}
#outputPaneWE .arrow {
	justify-self: center;
}
#outputPaneWE .leadingWord {
	justify-self: end;
}
#outputPaneWE .ruleExplanation {
	padding-inline-start: 10vw;
}

#conlangToolbox .presetPopup .action-sheet-group-cancel,
#conlangToolbox .presetPopup .action-sheet-cancel {
	background: var(--ion-color-danger-shade);
	color: var(--ion-color-danger-contrast);
}

i.ipa {
	font-style: normal;
	color: var(--ion-color-primary-contrast);
	background-color: var(--ion-color-primary-shade);
	padding: 0 0.1rem;
}

#conlangToolbox .WEinput {
	height: calc(100% - 4rem);
	width: 100%;
	padding: 0;
	margin: 0;
	display: grid;
	grid-template-columns: 1rem 1fr 1rem;
	grid-template-rows: 2rem 1fr;
	grid-template-areas:
		". . ."
		". x .";
	/*grid-template-columns: 1rem 1fr 1rem;
	grid-template-rows: 1rem min-content 1rem 1fr 1rem;
	grid-template-areas:
		". . ."
		". b ."
		". . ."
		". x ."
		". . .";*/
	}
#lexiconInput {
	grid-area: x;
	height: 100%;
	width: 100%;
	border: 0;
	outline: none;
	resize: none;
}

#theLexiconHeader {
	--ion-grid-column-padding: 0;
	--ion-grid-columns: 5;
	margin: 2rem 1rem 1rem;
	padding: 0;
}
#theLexiconHeader ion-row {
	margin: 0;
}
#theLexiconHolder {
	--ion-grid-columns: 1;
}
#theLexicon,
#theLexicon::part(native) {
	margin: 0 !important;
	padding: 0;
	display: flex;
	flex-flow: column nowrap;
	justify-content: flex-start;
	align-items: stretch;
	overflow: auto;
	width: calc(100% - 1.5rem);
}
#theLexicon .lexInput {
	--highlight-color-focused: transparent;
}
#theLexicon ion-button {
	margin: 0;
}
#theLexicon ion-button::part(native) {
	padding: 0 0.25rem;
}
#theLexicon .xs {
	padding-inline-start: 0.25rem;
	flex: 0 0 2.25rem;
}
#theLexicon .s {
	flex: 1 1 5rem;
}
#theLexicon .m {
	flex: 3 1 12rem;
}
#theLexicon .l {
	flex: 5 1 25rem;
}
#theLexicon input {
	outline: none;
	padding-inline-start: 0;
	padding-inline-end: 0;
	border: 0;
}
.lexRow,
.lexRow::part(native) {
	--inner-padding-end: 0;
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-start;
	align-items: center;
	margin: 0;
}
.lexRow::part(native),
.virtualLex .lexRow {
	margin: 0;
	padding: 0;
}
.virtualLex .lexRow.even::part(native) {
	background: var(--ion-color-input-bg);
}
.virtualLex .lexRow.odd::part(native) {
	background: var(--ion-background-shader);
}
.virtualLex {
	margin: 0;
	overflow-y: scroll !important;
}
.lexHeader,
.lexHeader::part(native) {
	font-weight: bold;
	min-height: 2rem;
	align-items: flex-end;
}
.lexRow > * {
	margin: 0 0.25rem;
	padding: 0 0.25rem;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.lexRow > .xs {
	margin: 0;
}
.lexInputs::part(native),
.lexHeader::part(native) {
	overflow-y: hidden !important;
}
.lexItem {
	display: inline-block;
	max-height: 48px;
	padding: 0;
}
.lexItem.ion-text-wrap {
	overflow: auto;
}
.lexiconDisplay {
	border-block-start: 2px solid var(--ion-background-color);
}
.lexiconDisplay:last-child {
	border-block-end: 2px solid var(--ion-background-color);
}
#lexiconPage #lexiconSort::part(text)::before {
	content: "Sort: ";
	margin-inline-end: 0.5rem;
}
#lexiconPage #lexiconSort::part(text) {
	min-width: 10rem;
	overflow: visible;
}
#lexiconPage #lexiconSort {
	background: var(--ion-background-tinter);
	margin-inline-end: 0.5rem;
}
#lexiconPage h1 {
	margin: 0;
}
#lexiconPage #revealFullElement {
	border: 1px solid var(--ion-color-input-fg) !important;
	background: var(--ion-color-input-bg) !important;
	letter-spacing: 0.025rem !important;
	font-size: 0.95rem !important;
	font-family: var(--font-serif), var(--font-international) !important;
	text-align: center !important;
	text-transform: none;
	margin: 0 !important;
	padding: 0 8px !important;
	box-sizing: border-box !important;
	z-index: 10000 !important;
	position: fixed !important;
}

#editLexiconItemOrder ion-row:nth-child(odd) {
	margin: 0;
}
.addActive .hideWhileAdding,
.addInactive .hideUnlessAdding {
	display: none;
}

.selectable,
.selectable::part(native) {
	-moz-user-select: text !important;
	-webkit-user-select: text !important;
	-ms-user-select: text !important;
	user-select: text !important;
}

ion-loading.loadingPage,
ion-loading.loadingPage * {
	background: var(--ion-background-color) !important;
	color: var(--ion-text-color);
}
ion-loading.pageSwitchBackground {
	--background-opacity: 1.0;
}

#aboutPage ion-grid {
	margin: 0 auto;
	max-width: 31rem;
}
#aboutPage ion-card {
	max-width: 30rem;
	margin: 0.5rem 0;
}
#aboutPage ion-card * {
	--inner-border-width: 0;
}
#aboutPage ion-card p {
	text-indent: 0 !important;
	text-align: center;
	background: var(--ion-card-highlight)
}
#aboutPage ion-card ion-card-header {
	font-size: 1.25rem;
	font-weight: bold;
	color: var(--ion-color-primary);
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
}

ion-modal ion-item-group.buttonFilled ion-item:nth-of-type(even)::part(native),
ion-modal ion-list.buttonFilled ion-item:nth-of-type(even)::part(native) {
	background: var(--ion-background-shader);
}

ion-list.multiLinePossible ion-item {
	white-space: normal;
}

.ion-text-wrap::part(native) {
	white-space: normal !important;
}

ion-chip {
	color: var(--ion-color-step-650);
	border-color: var(--ion-color-step-350);
	line-height: 1.25;
}
ion-chip.active {
	color: var(--ion-color-primary-contrast);
	background: var(--ion-color-primary);
}
ion-item div.twoColumnsEC > div {
	display: grid;
	grid-template-columns: 3.5em 1fr;
	column-gap: 0.25rem;
	justify-items: end;
	text-align: end;
	align-items: center;
	justify-content: start;
	align-content: start;
	margin: 0.25rem 0;
	padding: 0.25rem 0.75rem 0.25rem 0;
}
ion-item div.twoColumnsEC > div:nth-child(even) {
	background: var(--ion-background-shader);
}
ion-item div.twoColumnsEC h2,
ion-item div.multiColumnEC h2 {
	text-align: center;
}
ion-item div.twoColumnsEC > div div:last-child {
	justify-self: start;
	text-align: start;
}
ion-item div.centralized {
	margin: 0 auto;
}
ion-item div.multiColumnEC > div {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
	align-content: flex-start;
}
ion-item div.multiColumnEC div.char {
	text-align: center;
}
ion-item div.multiColumnEC div.char,
ion-item div.twoColumnsEC div.char {
	font-family: var(--font-serif), var(--font-international), var(--font-sans);
	font-size: 1.1rem;
	margin: 0.5rem;
	padding: calc(0.5rem - 2px);
	width: 2rem;
	text-align: center;
	border: 1px solid var(--ion-color-step-700);
	background: var(--ion-color-step-100);
}
/*#ExtraCharactersModalList ion-item:nth-child(odd)::part(native) {
	background: var(--ion-background-shader);
}*/
#ExtraCharactersModalList ion-item::part(native) {
	border-block-end: 1px solid var(--ion-border-color);
}
#ExtraCharactersModalList {
	position: relative;
}
#ExtraCharactersModalList .sticky {
	position: sticky;
	top: 0;
	z-index: 10;
}
ion-item.extraHelp,
ion-item.extraHelp::part(native) {
	background: var(--ion-color-secondary);
	color: var(--ion-color-secondary-contrast);
}
ion-item.extraHelp div {
	text-indent: 2em;
	margin: 0.25em 0;
}

ion-label.wrappableInnards div,
ion-label.wrappableInnards {
	white-space: normal;
	overflow-wrap: anywhere;
}

.wordList {
	column-width: 20em;
	margin: 0.5em 0.25em;
}
.wordList div {
	padding: 0.25em 0.5em;
	text-align: center
}
.wordList div:nth-child(odd) {
	background: var(--ion-background-shader);
	background-clip: content-box;
}

.ion-text-wrap {
	overflow-wrap: anywhere;
}

@media screen and (max-width: 390px) {
	ion-tab-bar ion-label {
		display: none;
	}
}

#syntaxSketchPage ion-list ion-item ol {
	list-style-type: none;
	padding-inline-start: 1.5rem;
	overflow-wrap: anywhere;
	overflow: visible;
}
#syntaxSketchPage ion-list ion-item > ol:first-of-type {
	padding-inline-start: 0;
}
#syntaxSketchPage .x {
	padding-block-start: 0.25rem;
	font-weight: bold;
	color: var(--ion-color-primary);
	display: flex;
	flex-flow: row wrap;
	align-items: baseline;
}
#syntaxSketchPage .x1 {
	padding-block-start: 1rem;
	font-size: 1.4rem;
}
#syntaxSketchPage .x2 {
	padding-block-start: 0.75rem;
	font-size: 1.25rem;
}
#syntaxSketchPage .x3 {
	padding-block-start: 0.5rem;
	font-size: 1.1rem;
}
#syntaxSketchPage ion-list ion-item ol .x strong {
	font-family: var(--font-mono);
	color: var(--ion-color-primary);
	white-space: nowrap;
	font-size: 0.95em;
}
#syntaxSketchPage ion-list ion-item ol .x em {
	text-decoration: underline;
	font-style: normal;
	padding-inline-start: 0.25em;
}

#syntaxSketchPage ion-list ion-item.toggled {
	display: none;
}
#syntaxSketchPage ion-range.spectrum::part(bar-active),
#syntaxSketchPage ion-range.spectrum::part(bar) {
	background: var(--ion-color-dark-tint);
}
#syntaxSketchPage ion-list ion-grid {
	--ion-grid-padding: 0;
	margin: 0;
	background: var(--ion-background-shader);
}
#syntaxSketchPage ion-list ion-grid.cols3 {
	--ion-grid-columns: 3;
	max-width: 40rem;
}
#syntaxSketchPage ion-list ion-grid.cols2 {
	--ion-grid-columns: 2;
	max-width: 50rem;
}
#syntaxSketchPage ion-list ion-grid ion-row {
	margin: 0.25rem 0;
}
#syntaxSketchPage ion-list ion-grid.striped ion-row:nth-child(even) {
	background: var(--ion-background-shader)
}
#syntaxSketchPage ion-list ion-item.h,
#syntaxSketchPage ion-list ion-item ion-grid ion-row.header {
	font-weight: bold;
}
#syntaxSketchPage ion-list ion-item ion-grid ion-row ion-col.cbox {
	max-width: 6rem;
	text-align: center;
}
#syntaxSketchPage ion-list ion-item ion-grid ion-row ion-col.leftA {
	text-align: start;
}
#syntaxSketchPage ion-list ion-item ion-grid ion-row ion-col.label {
	max-width: 10rem;
}
#syntaxSketchPage ion-list ion-item ion-grid ion-row ion-col ion-checkbox {
	margin: 0 auto;
}
#syntaxSketchPage ion-list ion-item.h ion-button {
	margin: 0.25rem 0.5rem 0.25rem 0;
}
#syntaxSketchPage ion-list ion-item.h ion-button::part(native) {
	padding: 0.5em 0.2em;
}
#syntaxSketchPage ion-list ion-item.h1 {
	font-size: 1.4rem;
}
#syntaxSketchPage ion-list ion-item.h2 {
	font-size: 1.25rem;
}
#syntaxSketchPage ion-list ion-item.h3 {
	font-size: 1.1rem;
}
#syntaxSketchPage ion-list ion-item.l2 {
	margin-inline-start: 1rem;
}
#syntaxSketchPage ion-list ion-item.l3 {
	margin-inline-start: 2rem;
}
#syntaxSketchPage ion-list ion-item.l4 {
	margin-inline-start: 3rem;
}
#syntaxSketchPage ion-list ion-item.l5 {
	margin-inline-start: 4rem;
}
#syntaxSketchPage ion-list ion-item.l6 {
	margin-inline-start: 5rem;
}
#syntaxSketchPage ion-list ion-item.l7 {
	margin-inline-start: 6rem;
}
#syntaxSketchPage ion-list ion-item.l8 {
	margin-inline-start: 7rem;
}
#syntaxSketchPage ion-list ion-item.leading::part(native),
#syntaxSketchPage ion-list ion-item.following::part(native) {
	min-height: 0;
}
#syntaxSketchPage ion-list ion-item.leading ion-label {
	margin-block-end: 0;
}
#syntaxSketchPage ion-list ion-item.following ul {
	margin-block-start: 0;
}
#syntaxSketchPage ion-list ion-item ion-label {
	white-space: normal;
}
#syntaxSketchPage ion-list ion-item ul {
	padding-inline-start: 0;
	list-style-type: none;
	list-style-position: inside;
}
#syntaxSketchPage ion-list ion-item ul li {
	text-indent: -1rem;
	padding-inline-start: 1rem;
	position: relative;
}
#syntaxSketchPage ion-list ion-item ul li::marker {
	color: var(--ion-color-primary);
}
#syntaxSketchPage ion-list ion-item ul li::before {
	content: "\25cf";
	color: var(--ion-color-primary);
	display: inline-block;
	white-space: nowrap;
	padding: 0 0 0 0.5rem;
	width: 0.5rem;
	position: relative;
	left: 0.5rem;
}
#syntaxSketchPage table {
	background: var(--ion-background-shader);
	border: solid 0.25rem var(--ion-color-dark-tint);
	margin: 0.5rem 1rem;
}
#syntaxSketchPage table td,
#syntaxSketchPage table th {
	padding: 0.5rem 1rem;
	vertical-align: top;
	text-align: start;
	border: 0;
}
#syntaxSketchPage table td + td {
	padding-inline-start: 0;
}
#syntaxSketchPage table tr:nth-child(even) {
	background: var(--ion-background-shader);
}
#syntaxSketchPage table ul {
	margin: 0;
}
#syntaxSketchPage .toggleButton {
	cursor: pointer;
	font-style: italic;
}
#syntaxSketchPage .toggleButton::before {
	content: "\25ba";  /* right arrow */
	color: var(--ion-color-success);
	width: 0.5rem;
	left: 0.3rem;
}
#syntaxSketchPage .toggleButton.toggled::before {
	content: "\25bc"; /* down arrow */
	color: var(--ion-color-danger);
}
#syntaxSketchPage li.tip::before,
#syntaxSketchPage li.tip li::before {
	content: "\25a0"; /* square */
	color: var(--ion-color-success);
}

/* Known bug where the keyboard will push the header off the screen */

.scroll-content {
    padding-block-end: 0 !important;
 }
