ion-app {
	overflow-wrap: anywhere;
}
.ion-flex-row-wrap {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
ion-app p {
	text-indent: 2rem;
	padding: 1rem;
	margin: 0 auto !important;
}
ion-app p + p {
	padding-block-start: 0;
}
ion-app .clickToExpand {
	overflow: hidden;
	max-height: 0;
	transition: max-height 0.1s ease-in;
}
ion-app .clickToExpand.expanded {
	max-height: 10rem;
	transition: max-height 0.1s ease-out;
}
ion-app ion-button.helpy {
	opacity: 0.5;
}
ion-app .possiblyLargeLabel p,
ion-app .possiblyLargeLabel h2 {
	padding: 0;
	text-indent: 0;
	white-space: normal;
}
ion-app .important {
	color: var(--ion-text-color);
}
ion-app .hide {
	display: none !important;
}
ion-row:nth-child(odd) {
	margin: 16px 0;
}

.emphasizedSection {
	text-align: center;
	margin-inline-start: auto;
	margin-inline-end: auto;
}
.emphasizedSection br {
	display: block;
	height: 0.25rem;
	content: '';
}

ion-card-content ul li {
	margin: 1rem 0;
}
ion-card-content ul.changelog li {
	margin: 0.25rem 0;
}

.charGroups .charGroupLongName,
.transforms .description,
.transforms .description {
	font-size: smaller;
	font-style: italic;
}
ion-app .serifChars {
	letter-spacing: 0.025rem;
	font-family: var(--font-serif), var(--font-international);
}
ion-app .importantElement {
	font-weight: bold;
}
.charGroups .charGroupRun .label::after {
	font-weight: bold;
	content: "=";
}
ion-app .importantUnit {
	display: inline-block;
	padding: 0.25rem 0.5rem;
	font-weight: bold;
	border: 1px solid var(--ion-color-input-border);
	white-space: normal;
	overflow-wrap: anywhere;
}
ion-app .unimportantUnit {
	display: inline-block;
	padding: 0 0.5rem;
	letter-spacing: 0;
	white-space: normal;
	overflow-wrap: anywhere;
}
ion-app .arrow {
	font-weight: bold;
}
.transforms .dragHandle,
.transforms .dragHandle {
	width: 2rem;
	text-align: center;
}
.transforms .dragHandle ion-icon,
.transforms .dragHandle ion-icon,
.soundChanges .dragHandle ion-icon {
	font-size: 32px;
	color: var(--ion-color-tertiary-shade);
}


ion-app ion-list.syllables > ion-item {
	margin: 0 0 1rem;
	display: flex;
	width: 100%;
	align-items: flex-start;
	justify-content: stretch;
}
ion-app ion-list.syllables > ion-item::part(native) {
	width: 100%;
}
ion-app ion-list.syllables ion-item {
	pointer-events: auto;
}
ion-app ion-list.syllables > ion-item div {
	flex: 1;
	flex-grow: 5;
	flex-shrink: 1;
	flex-basis: calc((100% - 2em) * 0.3);
}
ion-app ion-list.syllables > ion-item div:last-of-type {
	flex: 1;
	flex-grow: 1;
	flex-shrink: 0;
	flex-basis: 2em;
}
ion-app ion-list.syllables > ion-item ion-textarea {
	margin: 0;
	flex: 1;
	flex-grow: 5;
	flex-shrink: 5;
	flex-basis: calc((100% - 2em) * 0.6);
}
ion-app ion-list.syllables .header {
	display: block;
	font-weight: bold;
	font-size: larger;
	margin: 0.5rem 1rem 1rem;
}
ion-app ion-list.syllables .toggleable {
	overflow: hidden;
	display: none;
}
ion-app ion-list.syllables .toggleable.toggled,
ion-app ion-list.syllables .toggleable.reverseToggle {
	display: flex;
}
ion-app ion-list.syllables .toggleable.reverseToggle.toggled {
	display: none;
}
ion-app ion-list.syllables .header.toggleable,
ion-app ion-list.syllables .header.toggleable.reverseToggle.toggled {
	display: none;
}
ion-app ion-list.syllables .header.toggleable.toggled,
ion-app ion-list.syllables .header.toggleable.reverseToggle {
	display: flex;
}

ion-app ion-content.disappearingHeaderKludgeFix > :last-child {
	margin-block-end: 50vh;
}

ion-item-option {
	min-width: 5rem;
}
ion-list.units {
	background: transparent;
	padding: 0;
}
.units ion-item,
.units ion-item-option,
.units ion-item-option button {
	border-block-end: 0.1rem solid var(--ion-background-color);
}
.units ion-item-sliding:first-of-type ion-item,
.units ion-item-sliding:first-of-type ion-item-option,
.units ion-item-sliding:first-of-type ion-item-option button {
	border-block-start: 0.1rem solid var(--ion-background-color);
}
.units ion-item.nonUnit {
	border-block-end: 0;
	border-block-start: 0;
}
.hasFabButton ion-list.units {
	padding-block-end: 5em;
}
ion-list.dragArea {
	min-height: 100%;
}
.belongsToBelow {
	margin-block-end: 0;
	padding-block-end: 0;
}
.minor {
	font-size: 0.8em;
}

ion-app .fullScreen {
	display: flex;
	flex-flow: column nowrap;
	min-height: 100%;
}
ion-app .fullScreen .collapse {
	flex: 0 1 auto;
}
ion-app .fullScreen .largePane {
	flex: 1 1 auto;
}
ion-app .fullScreen .collapse div {
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	margin-inline-end: 1rem;
}
ion-app .fullScreen .collapse div ion-button {
	white-space: normal;
}

#WGoutput {
	display: grid;
	grid-template-columns: max-content 1fr min-content;
	grid-template-rows: min-content max-content;
	grid-template-areas:
		"EV .. BR"
		"OP OP BR";
	gap: 0.25rem;
	justify-items: start;
	align-items: start;
	justify-content: stretch;
	align-content: start;
	margin: 0.5rem 0.5rem 0;
}
#WEoutput {
	display: grid;
	grid-template-columns: max-content 1fr min-content;
	grid-template-rows: min-content min-content max-content;
	grid-template-areas:
		"TL TR TR"
		"EV .. BR"
		"OP OP BR";
	gap: 0.25rem;
	justify-items: start;
	align-items: start;
	justify-content: stretch;
	align-content: start;
	margin: 0.5rem 0.5rem 0;
}
#WEoutput .TL {
	grid-area: TL;
}
#WEoutput .EV,
#WGoutput .EV {
	grid-area: EV;
	display: block;
}
#WEoutput .TR {
	grid-area: TR;
	justify-self: end;
}
#WEoutput .BR,
#WGoutput .BR {
	grid-area: BR;
	display: flex;
	justify-content: flex-start;
	align-items: flex-end;
	flex-flow: row wrap;
	justify-self: end;
}
#outputPaneWE,
#outputPane {
	grid-area: OP;
}

#outputPane,
#outputPaneWE {
	margin: 1rem 2rem;
}
#outputPane.pickAndSave .word,
#outputPaneWL.pickAndSave .word,
#outputPaneWE.pickAndSave .word {
	background: var(--ion-color-primary);
	color: var(--ion-color-primary-contrast);
	cursor: copy;
}
#outputPane.pickAndSave div.word,
#outputPaneWL.pickAndSave div.word,
#outputPaneWE.pickAndSave div.word {
	padding: 0.25em 0.5em;
	border: 1px solid var(--ion-color-primary-shade);
}
#outputPane.pickAndSave .word.saved,
#outputPaneWL.pickAndSave .word.saved,
#outputPaneWE.pickAndSave .word.saved {
	background: var(--ion-color-success);
	color: var(--ion-color-success-contrast);
	border-color: var(--ion-color-success-shade);
}
#outputPaneWL.removingCombos .word.combo {
	background: var(--ion-color-warning);
	color: var(--ion-color-warning-contrast);
	border-color: var(--ion-color-warning-shade);
}
#outputPaneWE {
	display: grid;
	grid-auto-flow: row;
	grid-template-columns: 1fr 2em 1fr;
	grid-template-rows: auto;
	grid-auto-rows: auto;
	place-items: start start;
	place-content: start start;
}
#outputPaneWE .arrow {
	justify-self: center;
}
#outputPaneWE .leadingWord {
	justify-self: end;
}
#outputPaneWE .ruleExplanation {
	padding-inline-start: 10vw;
}

ion-app .presetPopup .action-sheet-group-cancel,
ion-app .presetPopup .action-sheet-cancel {
	background: var(--ion-color-danger-shade);
	color: var(--ion-color-danger-contrast);
}

i.ipa {
	font-style: normal;
	color: var(--ion-color-primary-contrast);
	background-color: var(--ion-color-primary-shade);
	padding: 0 0.1rem;
}

ion-app .WEinput {
	height: calc(100% - 4rem);
	width: 100%;
	padding: 0;
	margin: 0;
	display: grid;
	grid-template-columns: 1rem 1fr 1rem;
	grid-template-rows: 2rem 1fr;
	grid-template-areas:
		". . ."
		". x .";
	/*grid-template-columns: 1rem 1fr 1rem;
	grid-template-rows: 1rem min-content 1rem 1fr 1rem;
	grid-template-areas:
		". . ."
		". b ."
		". . ."
		". x ."
		". . .";*/
	}
.hasSpecialLabels ion-label {
	font-size: 1.25rem;
	padding: 0;
	margin: 0;
	margin-top: 1rem;
}
.hasSpecialLabels ion-item.labelled {
	padding: 0;
	margin: 0;
}

.selectable,
.selectable::part(native) {
	-moz-user-select: text !important;
	-webkit-user-select: text !important;
	-ms-user-select: text !important;
	user-select: text !important;
}

ion-loading.loadingPage,
ion-loading.loadingPage * {
	background: var(--ion-background-color) !important;
	color: var(--ion-text-color);
}
ion-loading.pageSwitchBackground {
	--background-opacity: 1.0;
}

ion-content.containedCards ion-grid {
	margin: 0 auto;
	max-width: 31rem;
	padding-bottom: 0;
}
ion-content.containedCards ion-grid ion-row:last-of-type ion-col {
	padding-bottom: 0;
}
ion-content.containedCards ion-card {
	max-width: 30rem;
	margin: 0.5rem 2rem;
	border-radius: 1.5rem;
}
ion-content.containedCards ion-card * {
	--inner-border-width: 0;
}
ion-content.containedCards ion-card p {
	text-indent: 0 !important;
	text-align: center;
	background: var(--ion-card-highlight);
	border-radius: 2rem;
}
ion-content.containedCards ion-card ion-card-header {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
}
ion-content.containedCards ion-card ion-card-header * {
	font-size: 1.25rem;
	font-weight: bold;
	color: var(--ion-color-primary);
	margin-top: 0;
}
ion-content.containedCards ion-card#appInfo {
	border-radius: 50% 50% 0px 0px / 100% 100% 0px 0px;
	margin-bottom: 0;
	position: relative;
}

ion-modal::part(content) ion-item-group.buttonFilled ion-item:nth-of-type(even)::part(native),
ion-modal::part(content) ion-list.buttonFilled ion-item:nth-of-type(even)::part(native) {
	background: var(--ion-background-shader);
}

ion-list.multiLinePossible ion-item {
	white-space: normal;
}

.ion-text-wrap::part(native) {
	white-space: normal !important;
}

ion-chip {
	color: var(--ion-color-step-650);
	border-color: var(--ion-color-step-350);
	line-height: 1.25;
}
ion-chip.active {
	color: var(--ion-color-primary-contrast);
	background: var(--ion-color-primary);
}
ion-item div.twoColumnsEC > div {
	display: grid;
	grid-template-columns: 3.5em 1fr;
	column-gap: 0.25rem;
	justify-items: end;
	text-align: end;
	align-items: center;
	justify-content: start;
	align-content: start;
	margin: 0.25rem 0;
	padding: 0.25rem 0.75rem 0.25rem 0;
}
ion-item div.twoColumnsEC > div:nth-child(even) {
	background: var(--ion-background-shader);
}
ion-item div.twoColumnsEC h2,
ion-item div.multiColumnEC h2 {
	text-align: center;
}
ion-item div.twoColumnsEC > div div:last-child {
	justify-self: start;
	text-align: start;
}
ion-item div.centralized {
	margin: 0 auto;
}
ion-item div.multiColumnEC > div {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
	align-content: flex-start;
}
ion-item div.multiColumnEC div.char {
	text-align: center;
}
ion-item div.multiColumnEC div.char,
ion-item div.twoColumnsEC div.char {
	font-family: var(--font-serif), var(--font-international), var(--font-sans);
	font-size: 1.1rem;
	margin: 0.5rem;
	padding: calc(0.5rem - 2px);
	width: 2rem;
	text-align: center;
	border: 1px solid var(--ion-color-step-700);
	background: var(--ion-color-step-100);
}
ion-item div.multiColumnEC div.favorite,
ion-item div.twoColumnsEC div.favorite {
	border: 1px solid var(--ion-color-tertiary-contrast);
	background: var(--ion-color-tertiary-shade);
	color: var(--ion-color-tertiary-contrast);
}
/*#ExtraCharactersModalList ion-item:nth-child(odd)::part(native) {
	background: var(--ion-background-shader);
}*/
#ExtraCharactersModalList {
	position: relative;
	min-height: 100%;
}
#ExtraCharactersModalList .sticky {
	position: sticky;
	top: 0;
	z-index: 10;
	border-block-end: 2px solid var(--ion-border-color);
}
#ExtraCharactersModalList .central {
	text-align: center;
	font-size: 2em;
	text-indent: 0;
}
#ExtraCharactersModalFooter {
	border-block-start: 2px solid var(--ion-border-color);
}
#ExtraCharactersModalList .displayChips {
	border-radius: 1em;
	margin: 0.5em;
	background-color: var(--ion-background-shader);
	padding-inline: 0.5em;
	padding-block: 0.25em;
}
#ExtraCharactersModalList ion-item.inputItem ion-input {
	background-color: var(--ion-background-shader);
	--padding-start: 8px;
	--padding-end: 8px;
}
#ExtraCharactersModalList ion-item.inputItem ion-button {
	--margin-start: 0;
	--margin-end: 0;
}
#ExtraCharactersModalList ion-item.inputItem ion-button[slot="start"] {
	margin-inline-end: 8px;
}
#ExtraCharactersModalList ion-item.inputItem ion-button[slot="end"] {
	margin-inline-start: 8px;
}
ion-item.extraHelp {
	display: none;
}
ion-list.showingHelp ion-item.extraHelp,
ion-list.showingHelp ion-item.extraHelp::part(native) {
	display: block;
	background: var(--ion-color-secondary);
	color: var(--ion-color-secondary-contrast);
}
ion-list.showingHelp ion-item.extraHelp div {
	text-indent: 2em;
	margin: 0.25em 0;
}

ion-item.wrappableInnards p,
ion-item.wrappableInnards h2 {
	white-space: normal;
	overflow-wrap: anywhere;
}
ion-item.wrappableInnards p {
	font-size: 0.8rem;
	padding: 0;
	text-indent: 0;
	color: var(--ion-color-step-500);
}
ion-item.wrappableInnards h2 {
	font-size: 1.1rem;
	margin: 0.25em 0;
}

.wordList {
	column-width: 20em;
	margin: 0.5em 0.25em;
}
.wordList div {
	padding: 0.25em 0.5em;
	text-align: center;
}
.wordList div:nth-child(odd) {
	background: var(--ion-background-shader);
}
.wordListChips::part(native) {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: flex-start;
	margin: 0 auto;
}
.wordListChips .chips {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
	align-content: center;
	margin: 0 auto;
}
.wordListChips .controls {
	display: flex;
	flex-flow: column nowrap;
	flex-grow: 0;
	flex-shrink: 0;
	margin: 0 auto 0 0.25rem
}

.ion-text-wrap {
	overflow-wrap: anywhere;
}

@media screen and (max-width: 390px) {
	ion-tab-bar:not(.iconsOnly) ion-label {
		display: none;
	}
}
ion-tab-bar.iconsOnly ion-tab-button.moreIndicators {
	display: none;
}
@media screen and (max-width: 500px) {
	ion-tab-bar.iconsOnly ion-tab-button.possiblyTooFar {
		display: none;
	}
	ion-tab-bar.iconsOnly ion-tab-button.moreIndicators {
		display: flex;
	}
}
ion-tab-bar.iconsOnly ion-tab-button:not(.moreIndicators) ion-label {
	white-space: nowrap;
	font-size: 1.4em;
}


ion-select.syntaxSelect {
	max-width: min-content;
	padding-inline: 1rem;
	padding-block-start: 0.25rem;
	padding-block-end: 0.5rem;
	border: 2px solid var(--ion-background-tinter);
	background: var(--ion-background-tinter);
}
ion-select.syntaxSelect::part(text) {
	max-width: max-content;
}
ion-select.syntaxSelect::part(icon) {
	margin-left: 1rem;
}
.alertSelect {
	--min-height: 90vh;
	--min-width: 50vw;
	--max-width: 90vw;
	--backdrop-opacity: 0.9;
	--background: var(--ion-color-medium-shade);
}
.alertSelect .alert-radio-group {
	max-height: max-content;
	max-width: 90vw;
}
ion-app .alertSelect .alert-radio-group button {
	border-color: var(--ion-background-shader);
	border-style: solid;
	border-width: 2px 4px;
	min-width: max-content;
}
.alertSelect .alert-head {
	background: var(--ion-background-shader);
}

/* Known bug where the keyboard will push the header off the screen */

.scroll-content {
	padding-block-end: 0 !important;
 }
