ion-row:nth-child(odd) {
	margin: 16px 0;
}
.no-background {
	background: transparent;
}

#conlangToolbox .possiblyLargeLabel p,
#conlangToolbox .possiblyLargeLabel h2 {
	padding: 0;
	text-indent: 0;
	white-space: normal;
}
#conlangToolbox .important {
	color: var(--ion-text-color);
}
