.categories .categoryLongName {
	font-size: smaller;
	font-style: italic;
}
.categories .categoryRun,
#conlangToolbox ion-modal ion-input.categoryRun {
	letter-spacing: 0.1em;
	font-family: 'Noto Serif', 'Georgia', serif;
}
.categories .categoryRun .label {
	font-weight: bold;
}
.categories .categoryRun .label::after {
	font-weight: bold;
	content: "=";
}

#conlangToolbox ion-list.syllables .toggleable {
	overflow: hidden;
	max-height: 0;
	transition: max-height 0.1s ease-in;
}
#conlangToolbox ion-list.syllables .toggleable.toggled {
	max-height: 10em;
	transition: max-height 0.1s ease-out;
}
#conlangToolbox ion-list.syllables header {
	display: block;
	font-weight: bold;
	font-size: larger;
	margin: 0.5em 1em 1em;
}
#conlangToolbox ion-list.syllables header.toggleable {
	margin: 0;
	transition: none;
}
#conlangToolbox ion-list.syllables header.toggleable.toggled {
	margin: 0.5em 1em 1em;
	transition: none;
}
#conlangToolbox ion-list.syllables header.toggleable.reverseToggle {
	max-height: 10em;
	margin: 0.5em 1em 1em;
}
#conlangToolbox ion-list.syllables header.toggleable.reverseToggle.toggled {
	max-height: 0;
	margin: 0;
}

ion-item-option {
	min-width: 5em;
}
ion-list.units {
	background: transparent;
	padding: 0;
}
.units ion-item,
.units ion-item-option,
.units ion-item-option button {
	border-bottom: 0.1em solid var(--ion-background-color);
}
.units ion-item-sliding:first-of-type ion-item,
.units ion-item-sliding:first-of-type ion-item-option,
.units ion-item-sliding:first-of-type ion-item-option button {
	border-top: 0.1em solid var(--ion-background-color);
}

i.ipa {
	font-style: normal;
	color: var(--ion-color-primary-contrast);
	background-color: var(--ion-color-primary-shade);
	padding: 0 0.1em;
}

@media screen and (max-width: 450px) {
	ion-tab-bar ion-label {
		display: none;
	}
}
