.conlangToolboxSwal.swal2-popup {
	--swal-bg: var(--ion-background-color);
	--swal-fg: var(--ion-text-color);
	--swal-shadow: var(--ion-background-shader);
	--swal-btn-bg: var(--ion-background-tinter);
	background: var(--swal-bg);
	color: var(--swal-fg);
	border-radius: 2rem;
}
.conlangToolboxSwal.swal2-popup #swal2-title {
	word-wrap: normal;
	overflow-wrap: anywhere;
	white-space: normal;
	background: var(--swal-bg);
	color: var(--swal-fg);
}
.conlangToolboxSwal.swal2-popup.swal2-toast,
.conlangToolboxSwal.swal2-popup.swal2-toast #swal2-title {
	--swal-bg: var(--ion-color-success);
	--swal-fg: var(--ion-color-success-contrast);
	--swal-shadow: var(--ion-color-succes-tint);
	--swal-btn-bg: var(--ion-color-success-shade);
}
.conlangToolboxSwal.swal2-popup.swal2-toast .swal2-confirm {
	background: var(--swal-btn-bg);
	color: var(--swal-fg);
}
.conlangToolboxSwal.swal2-popup.warningConfirm,
.conlangToolboxSwal.swal2-popup.swal2-toast.warnToast,
.conlangToolboxSwal.swal2-popup.swal2-toast.warnToast #swal2-title {
	--swal-bg: var(--ion-color-warning);
	--swal-fg: var(--ion-color-warning-contrast);
	--swal-shadow: var(--ion-color-warning-tint);
	--swal-btn-bg: var(--ion-color-warning-shade);
}
.conlangToolboxSwal.swal2-popup.deleteConfirm,
.conlangToolboxSwal.swal2-popup.swal2-toast.dangerToast,
.conlangToolboxSwal.swal2-popup.swal2-toast.dangerToast #swal2-title {
	--swal-bg: var(--ion-color-danger);
	--swal-fg: var(--ion-color-danger-contrast);
	--swal-shadow: var(--ion-color-danger-tint);
	--swal-btn-bg: var(--ion-color-danger-shade);
}
.conlangToolboxSwal.swal2-popup.swal2-toast.infoToast,
.conlangToolboxSwal.swal2-popup.swal2-toast.infoToast #swal2-title {
	--swal-bg: var(--ion-color-primary);
	--swal-fg: var(--ion-color-primary-contrast);
	--swal-shadow: var(--ion-color-primary-tint);
	--swal-btn-bg: var(--ion-color-primary-shade);
}
.conlangToolboxSwal.swal2-popup .swal2-content {
	background: var(--swal-bg);
	color: var(--swal-fg);
	word-wrap: normal;
	overflow-wrap: anywhere;
	white-space: normal;
}
.conlangToolboxSwal.swal2-popup .swal2-confirm {
	background: var(--swal-btn-bg);
	color: var(--swal-fg);
	border-color: var(--swal-btn-bg);
}
.conlangToolboxSwal.swal2-popup .swal2-icon.swal2-error,
.conlangToolboxSwal.swal2-popup .swal2-x-mark-line-left,
.conlangToolboxSwal.swal2-popup .swal2-x-mark-line-right {
	color: var(--ion-color-danger);
	border-color: var(--ion-color-danger);
}
.conlangToolboxSwal.swal2-popup .swal2-x-mark .swal2-x-mark-line-left,
.conlangToolboxSwal.swal2-popup .swal2-x-mark .swal2-x-mark-line-right {
	background-color: var(--ion-color-danger);
}
.conlangToolboxSwal.swal2-popup .swal2-icon.swal2-warning,
.conlangToolboxSwal.swal2-popup .swal2-icon.swal2-warning .swal2-icon-content {
	color: var(--ion-color-warning);
	border-color: var(--ion-color-warning);
}
